<a href="https://www.stgeorges.bc.ca/page"><img src="https://preview.ibb.co/cY1TBk/LOGO_WORDS_2.jpg" alt="LOGO_WORDS_2" border="0" id="logo"></a>
<p>
	<strong>Title:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @article.text %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>