<!-- Make Divs -->
<head>
	<link type="text/css" rel="stylesheets" href="welcome.css"/>
</head>

<body>
	<div id="header">
	
		<div id="logo">
			<img src="https://image.ibb.co/duoONF/Vocal_Music_Club_Logo.jpg" alt="Vocal_Music_Club_Logo" border="0"></a>
		</div>

		<h1>Vocal Music Club</h1>

		<div id="icons">
			<a href="https://www.facebook.com/profile.php?id=100010316373138" id="icons">f</a>
		</div>

		<div id="navbar">
			<h4 style="text-align: right">Search...</h4>

			<p style="text-align: right">Home | About | <%= link_to 'Forum', controller: 'articles' %> | Events | Resources | Calender | Contact Us</p>
		</div>
	</div>

	<div id="main">
<!--Title/Home-->
		<div id="title">
			<h1 id ="titles-index">Welcome to the</h1>
			<h2 id ="titles-index">Vocal Music Club</h2>
		</div>
<!--About-->
		<div id="about">
			<h1 id ="titles-index">About Us</h1>
		</div>
<!--Forum-->
		<div id="forum">
			<h1 id ="titles-index">Forum</h1>
		</div>
<!--Events-->
		<div id="events">
			<h1 id ="titles-index">Events</h1>
		</div>
<!--Resources-->
		<div id="resources">
			<h1 id ="titles-index">Resources</h1>
		</div>
<!--Calender-->
		<div id="calender">
			<h1 id="titles-index">Calender</h1>
		</div>
<!--Contact Us-->
		<div id="contact">
			<h1 id ="titles-index">Contact Us</h1>
		</div>
	</div>

	<div id="footer">
		<div id="ftmain">
			<p style="color: #ffffff">					Blah Blah Blah Blah Blah</p>
		</div>
		<div id="ftfooter">
			<p style="color: #C9C0C0">© 2017 by Vinxent</p>
		</div>
	</div>
</body>